{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="autoclubApp">
    <head>
        <meta charset="utf-8"></meta>
        <title> Driver's db </title>
        <link rel="stylesheet" href="{% static "styles/dist/css/bootstrap.min.css" %}">
        <script src="{% static "scripts/angular.min.js" %}"></script>
        <script src="{% static "scripts/angular-route.min.js" %}"></script>
        <script src="{% static "scripts/app.js" %}"></script>
        <script src="{% static "scripts/controllers/driver-list-controller.js" %}"></script>
        <script src="{% static "scripts/services/autoclub-services.js"%}"></script>
    </head>
    <body>
        <div class="container">
            <div ng-view>
            </div>
        </div>
    </body>
</html>